---
import Layout from "@/layouts/LayoutMusic.astro"
import Player from "@/components/ui/Player"
---

<Layout title="Página Principal">
  <div class="flex justify-center flex-col items-center">
    <h1 transition:name="Canciones">Canciones</h1>
    <p>Este es el contenido de mi página principal.</p>

    <Player client:only className="mt-20" />
  </div>
</Layout>
