---
import Layout from "@/layouts/LayoutMusic.astro"
import H1Title from "@/components/astroComponents/H1Title.astro"
---

<Layout title="Conciertos">
  <div class="flex justify-center iflex-wrap w-full flex-col">
    <H1Title titulo="Conciertos" descripcion="Videos de conciertos y tal" />
  </div>
</Layout>
