---
import Layout from "@/layouts/LayoutMusic.astro"
import H1Title from "@/components/astroComponents/H1Title.astro"
---

<Layout title="Conciertos">
  <div class="flex justify-center flex-col items-center">
    <H1Title titulo="Conciertos" descripcion="Videos de conciertos y tal" />
  </div>
</Layout>
