---
import Layout from "@/layouts/LayoutMusic.astro"
import H1Title from "@/components/astroComponents/H1Title.astro"
---

<Layout title="Extras">
  <div class="flex justify-center flex-col items-center">
    <H1Title titulo="Extras" descripcion="Cosas ineditas y videos extars" />
  </div>
</Layout>
