---
import Layout from "@/layouts/LayoutMusic.astro"
import H1Title from "@/components/astroComponents/H1Title.astro"

//https://www.youtube.com/watch?v=SdKPjUPDTEw&list=FLnOO-qVk2V9cpxC2Q5bSzhA&index=406&ab_channel=ChuckySnurffles
---

<Layout title="Extras">
  <div class="flex justify-center iflex-wrap w-full flex-col">
    <H1Title titulo="Extras" descripcion="Cosas ineditas y videos extars" />
  </div>
</Layout>
