---
import Layout from "@/layouts/LayoutMusic.astro"
import H1Title from "@/components/astroComponents/H1Title.astro"
---

<Layout title="Medios">
  <div class="flex justify-center flex-col items-center">
    <H1Title
      titulo="Recortes de prensa"
      descripcion="Apariciones en diferentes webs y medios de difusión"
    />
  </div>
</Layout>
