---
import Layout from "@/layouts/LayoutMusic.astro"
---

<Layout title="Página Principal">
  <div class="flex justify-center flex-col items-center">
    <h1 transition:name="Recortes de prensa">Recortes de prensa</h1>
    <p>Este es el contenido de mi página principal.</p>
  </div>
</Layout>
