---
import Layout from "@/layouts/LayoutMusic.astro"
import H1Title from "@/components/astroComponents/H1Title.astro"
import ShowVideos from "@/components/astroComponents/ShowVideos.astro"
import { getVideoclips } from "@/api/getVideoclips"

const videoclips = await getVideoclips()

/* 
Forma de cargar un video local
<video id="myVideoPlayer" controls class="rounded-xl mt-20">
      <source
        src={`${import.meta.env.PUBLIC_BASE_PATH}videos/Tema El ultimo titan ( Rambla prim ).mp4`}
        type="video/mp4"
      />
      Tu navegador no soporta la etiqueta de video.
    </video>
 */
---

<Layout title="Videoclips">
  <div class="flex justify-center items-start flex-wrap w-screen">
    <H1Title titulo="Videoclips" descripcion="Todos mis clips sueltos." />
    <ShowVideos videos={videoclips} ruta="videoclips" />
  </div>
</Layout>
