---
import Layout from "@/layouts/LayoutArt.astro"
---

<Layout title="Página Principal">
  <div class="flex justify-center flex-col items-center">
    <h1 transition:name="Motion graphics">Motion graphics</h1>
    <p>Este es el contenido de mi página principal.</p>
  </div>
</Layout>
