---
import Layout from "@/layouts/Layout.astro"
import Card from "@/components/Card/Card.astro"
/* import "@/styles/PageSyles.css" */

const itemArt = [
  {
    label: "Showreel",
    link: "arte/showreel",
  },
  {
    label: "Ilustraciones",
    link: "arte/ilustraciones",
  },
  {
    label: "Motion graphics",
    link: "arte/motion-graphics",
  },
  {
    label: "Trabajos en 3D",
    link: "arte/3d",
  },
  {
    label: "Creaciones con IA",
    link: "arte/ia",
  },
  {
    label: "Graffiti",
    link: "arte/graffiti",
  },
]

const itemMusic = [
  {
    label: "Videoclips",
    link: "musica/videoclips",
  },
  {
    label: "Canciones",
    link: "musica/canciones",
  },
  {
    label: "Conciertos",
    link: "musica/conciertos",
  },
  {
    label: "Recortes de prensa",
    link: "musica/recortes-de-prensa",
  },
  {
    label: "Extras",
    link: "musica/extras",
  },
]
---

<Layout title="La historia de Predy">
  <div
    id="swipe-area"
    class="my-[6.2rem] flex justify-center items-center flex-col"
  >
    <h2
      class="w-max mx-auto px-8 text-5xl mb-16 flex items-center gap-3 h-20 content-center text-white"
    >
      La historia de
      <span
        class="text-gradient noSelection font-bold tracking-wide text-6xl h-20 mt-5 flex text-primary-500"
      >
        Predy</span
      >
    </h2>

    <ul
      role="list"
      class="flex flex-col md:flex-row justify-center w-max mx-auto gap-y-16"
    >
      <Card
        href="arte"
        title="Arte"
        body="showreel / ilustraciones / 3D / motion graphics / IA"
        items={itemArt}
        imageSrc={`${import.meta.env.PUBLIC_BASE_PATH}images/Arte-cabecera.jpg`}
        className="w-full mx-10 md:w-[26rem] rounded-l-3xl hover:bg-sky-500/[.06]"
        align="left"
        viewTransition="transitionArte"
      />
      <Card
        href="musica"
        title="Música"
        body="Videoclips / Canciones / Conciertos / Extras / Recortes de prensa?"
        items={itemMusic}
        imageSrc={`${import.meta.env.PUBLIC_BASE_PATH}images/Musica-cabecera.jpg`}
        className="w-full mx-10 md:w-[26rem] rounded-r-3xl hover:bg-sky-500/[.06]"
        align="right"
        viewTransition="transitionMusica"
      />
    </ul>
  </div>
</Layout>
