---
import Layout from "@/layouts/Layout.astro"
import Card from "@/components/Card/Card.astro"
import "@/styles/PageSyles.css"

const itemArt = [
  {
    label: "Showreel",
    link: "Showreel",
  },
  {
    label: "Ilustraciones",
    link: "Ilustraciones",
  },
  {
    label: "3D",
    link: "3D",
  },
  {
    label: "Motion graphics",
    link: "Motion graphics",
  },
  {
    label: "IA",
    link: "IA",
  },
]

const itemMusic = [
  {
    label: "Videoclips",
    link: "Videoclips",
  },
  {
    label: "Canciones",
    link: "Canciones",
  },
  {
    label: "Conciertos",
    link: "Conciertos",
  },
  {
    label: "Extras",
    link: "Extras",
  },
  {
    label: "Recortes de prensa",
    link: "Recortes de prensa",
  },
]
---

<Layout title="La historia de Predy">
  <main
    class="h-screen w-full bg-secondary-800 bg-dot-white/[0.2] relative flex items-center justify-center"
  >
    <div>
      <div
        class="absolute pointer-events-none inset-0 flex items-center justify-center bg-secondary-800 [mask-image:radial-gradient(ellipse_at_center,transparent_20%,black)]"
      >
      </div>
      <p
        class="text-4xl sm:text-7xl font-bold relative z-50 bg-clip-text text-transparent bg-gradient-to-b from-neutral-200 to-neutral-500 py-8"
      >
        <h1 class="w-max mx-auto px-8">
          La historia de<span class="text-gradient noSelection"> Predy</span>
        </h1>

        <ul role="list" class="flex flex-col md:flex-row gap-14">
          <Card
            href="Arte"
            title="Arte"
            body="showreel / ilustraciones / 3D / motion graphics / IA"
            items={itemArt}
            imageSrc="/src/images/Arte-cabecera.jpg"
            className="bg-white"
          />
          <Card
            href="Musica"
            title="Música"
            body="Videoclips / Canciones / Conciertos / Extras / Recortes de prensa?"
            items={itemMusic}
            imageSrc="/src/images/Musica-cabecera.jpg"
            className="bg-white"
          />
        </ul>
      </p>
    </div>
  </main>
</Layout>
