---
import Layout from "@/layouts/LayoutMusic.astro"
import H1Title from "@/components/astroComponents/H1Title.astro"
---

<Layout title="Música">
  <div class="flex justify-center items-start flex-wrap">
    <H1Title
      titulo="Música"
      descripcion="Pantalla principal donde presentar toda mi música."
    />
  </div>
</Layout>
