---
import Layout from "@/layouts/LayoutMusic.astro"
import getDiscos from "@/api/getDiscos"
import ConsoleLogger from "@/components/ConsoleInfo/ConsoleLogger"
import DiskInfoSection from "@/components/page/DiskInfoSection"
import PlayerSection from "@/components/page/PlayerSection"

const disks = await getDiscos()
const predy20 = disks[1]
const { canciones } = predy20
---

<Layout title="Predy - 2.0">
  <section
    class="bg-secondary-800 w-full flex justify-center flex-row items-start text-white"
  >
    <DiskInfoSection disk={predy20} client:only />

    <PlayerSection disco="20" canciones={canciones} client:only />

    <ConsoleLogger info={canciones} client:only />
  </section>
</Layout>
