---
import Layout from "@/layouts/LayoutMusic.astro"
import getDiscos from "@/api/getDiscos"
import ConsoleLogger from "@/components/ConsoleInfo/ConsoleLogger"
import DiskInfoSection from "@/components/page/DiskInfoSection"
import PlayerSection from "@/components/page/PlayerSection"

const disks = await getDiscos()
const dopamina = disks[3]
const { canciones } = dopamina
---

<Layout title="Predy - Dopamina">
  <section
    class="bg-secondary-800 w-full flex justify-center flex-row items-start text-white"
  >
    <DiskInfoSection disk={dopamina} client:only />

    <PlayerSection disco="dopamina" canciones={canciones} client:only />

    <ConsoleLogger info={dopamina.canciones} client:only />
  </section>
</Layout>
