---
import Layout from "@/layouts/LayoutMusic.astro"
import getDiscos from "@/api/getDiscos"
import ConsoleLogger from "@/components/ConsoleInfo/ConsoleLogger"
import Player from "@/components/ui/Player"
import DiskInfoSection from "@/components/page/DiskInfoSection"
import PlayerSection from "@/components/page/PlayerSection"

const disks = await getDiscos()
const inestable = disks[4]
const { canciones } = inestable
---

<Layout title="Predy - El último titán">
  <section
    class="bg-secondary-800 w-full flex justify-center flex-row items-start text-white"
  >
    <DiskInfoSection disk={inestable} client:only />

    <PlayerSection disco="inestable" canciones={canciones} client:only />

    <ConsoleLogger info={canciones} client:only />
  </section>
</Layout>
