---
import Layout from "@/layouts/LayoutMusic.astro"
import getDiscos from "@/api/getDiscos"
import ConsoleLogger from "@/components/ConsoleInfo/ConsoleLogger"
import DiskInfoSection from "@/components/page/DiskInfoSection"
import PlayerSection from "@/components/page/PlayerSection"

const disks = await getDiscos()
const mrPotato = disks[2]
const { canciones } = mrPotato
---

<Layout title="Predy - Mr. Potato">
  <section
    class="bg-secondary-800 w-full flex justify-center flex-row items-start text-white"
  >
    <DiskInfoSection disk={mrPotato} client:only />

    <PlayerSection disco="mr-potato" canciones={canciones} client:only />

    <ConsoleLogger info={canciones} client:only />
  </section>
</Layout>
