---
interface Props {
  title: string
}

import { ViewTransitions } from "astro:transitions"
import Menu from "@/components/Menu/Menu.astro"

const { title } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href={`${import.meta.env.PUBLIC_BASE_PATH}/favicon.ico`}
    />
    <link
      rel="stylesheet"
      href={`${import.meta.env.PUBLIC_BASE_PATH}/styles/global.css`}
    />
    <meta name="generator" content={Astro.generator} /><title>
      {title}
    </title></head
  >

  <ViewTransitions />

  <body class="min-h-screen flex flex-1">
    <Menu />
    <main
      class="h-auto md:w-full bg-secondary-900 bg-dot-white/[0.2] relative pb-24 pt-12 min-h-screen"
    >
      <slot />
    </main>
  </body>
</html>
