---
interface Props {
  title: string
}

import { ViewTransitions } from "astro:transitions"
import Menu from "@/components/Menu/Menu.astro"

const { title } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href={`${import.meta.env.PUBLIC_BASE_PATH}/favicon.ico`}
    />
    <link
      rel="stylesheet"
      href={`${import.meta.env.PUBLIC_BASE_PATH}/newWeb/styles/global.css`}
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="min-h-screen flex flex-1">
    <Menu />
    <main
      class="h-screen md:w-full bg-secondary-900 bg-dot-white/[0.2] relative pb-24 mt-12"
    >
      <slot />
    </main>
    <style is:global>
      @font-face {
        font-family: "Saans";
        src: url("/newWeb/fonts/Saans-Regular.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
      }

      @font-face {
        font-family: "Saans";
        src: url("/newWeb/fonts/Saans-Medium.woff2") format("woff2");
        font-weight: 500;
        font-style: normal;
      }

      @font-face {
        font-family: "Saans";
        src: url("/newWeb/fonts/Saans-Bold.woff2") format("woff2");
        font-weight: bold;
        font-style: normal;
      }

      :root {
        --accent: 70, 149, 226;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
      }
      html {
        font-family: "Saans", Arial, sans-serif;
        background: #13151a;
        background-size: 224px;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }

      h1 {
        font-size: 90px !important;
      }

      ::selection {
        background-color: #4695e2;
        color: #ffffff;
      }

      .noSelection::selection {
        /* background: none; */
        background-color: white;
        color: white;
        fill: white;
        -webkit-text-fill-color: #4695e2;
      }
    </style>
  </body>
</html>
