---
interface Props {
  title: string
}

import { ViewTransitions } from "astro:transitions"

const { title } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="stylesheet" href="/newWeb/styles/global.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
    <script type="module" async src="https://cdn.ampproject.org/bento.mjs"
    ></script>
    <script nomodule src="https://cdn.ampproject.org/bento.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.ampproject.org/v0/bento-lightbox-gallery-1.0.css"
    />
    <script
      type="module"
      async
      src="https://cdn.ampproject.org/v0/bento-lightbox-gallery-1.0.mjs"
    ></script>
    <script
      nomodule
      async
      src="https://cdn.ampproject.org/v0/bento-lightbox-gallery-1.0.js"
    ></script>
  </head>
  <body>
    <main
      class="h-screen md:w-full bg-secondary-700 bg-dot-white/[0.2] relative pb-24 overflow-hidden"
    >
      <div>
        <div
          class="flex items-center justify-center bg-secondary-800 [mask-image:radial-gradient(ellipse_at_center,transparent_20%,black)]"
        >
        </div>
        <slot />

        <!-- <bento-lightbox-gallery></bento-lightbox-gallery>
        <figure>
          <img
            id="hero-img"
            lightbox="toronto"
            src="https://picsum.photos/1600/900?image=1075"
            alt="picture of cn tower."
          />
          <figcaption class="image">
            toronto's cn tower was built in 1976 and was the tallest
            free-standing structure until 2007.
          </figcaption>
        </figure> -->
      </div>
    </main>
    <style is:global>
      @font-face {
        font-family: "Saans";
        src: url("/newWeb/fonts/Saans-Regular.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
      }

      @font-face {
        font-family: "Saans";
        src: url("/newWeb/fonts/Saans-Medium.woff2") format("woff2");
        font-weight: 500;
        font-style: normal;
      }

      @font-face {
        font-family: "Saans";
        src: url("/newWeb/fonts/Saans-Bold.woff2") format("woff2");
        font-weight: bold;
        font-style: normal;
      }

      :root {
        --accent: 70, 149, 226;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
      }
      html {
        font-family: "Saans", Arial, sans-serif;
        background: #13151a;
        background-size: 224px;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }

      h1 {
        font-size: 90px !important;
        color: #4695e2;
        margin-top: 4rem;
      }

      .octagonalShape {
        clip-path: polygon(
          14% 0,
          87% 0,
          100% 14%,
          100% 88%,
          87% 100%,
          13% 100%,
          0 90%,
          0 16%
        );
      }

      .leftPoint {
        clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
      }

      .rightPoint {
        clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
      }

      ::selection {
        background-color: #4695e2;
        color: #ffffff;
      }

      .noSelection::selection {
        /* background: none; */
        background-color: white;
        color: white;
        fill: white;
        -webkit-text-fill-color: #4695e2;
      }

      @media (min-width: 768px) {
        /* Este valor es para el breakpoint 'md' por defecto de Tailwind */
        .leftPoint,
        .rightPoint {
          -webkit-clip-path: none;
          clip-path: none;
        }
      }
    </style>
  </body>
</html>
