---
import Layout from "@/layouts/LayoutMusic.astro"
import H1Title from "@/components/astroComponents/H1Title.astro"
import ShowVideos from "@/components/astroComponents/ShowVideos.astro"
import { getPredytube } from "@/api/getPredytube"

const predytube = await getPredytube()
---

<Layout title="Predytube">
  <div class="flex justify-center iflex-wrap w-full flex-col">
    <H1Title titulo="Predytube" descripcion="Cada miercoles nuevo episodio." />
    <ShowVideos videos={predytube} ruta="predytube" />
  </div>
</Layout>
