---
import Layout from "@/layouts/LayoutMusic.astro"
import H1Title from "@/components/astroComponents/H1Title.astro"
import ShowVideos from "@/components/astroComponents/ShowVideos.astro"
import { getWordFighters } from "@/api/getWordFighters"

const wordFighters = await getWordFighters()
---

<Layout title="Eventos">
  <div class="flex justify-center items-start flex-wrap w-screen">
    <H1Title titulo="Eventos" descripcion="Varios eventos." />
    <ShowVideos videos={wordFighters} ruta="eventos" />
  </div>
</Layout>
